<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>history</title>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<header>
    <h1>Твојот Дигитален Советник</h1>
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/projections">Проекции</a>
        <a href="/history" class="round-border1">Историски Податоци</a>
    </div>
</header>
<h1>Историски податоци</h1>
<div class="main-container">
    <aside class="left">
        <div class="form-container">
            <form id="forma1" action="/get-flask-image" method="get">
                <div class="oval1 width-full bg-gray2">Поставки</div>
                <div class="selection-panel">
                    <div>
                        <label for="tiker">Изберете тикер</label>
                        <select id="tiker" name="tiker">
                            <option th:each="option : ${options}" th:value="${option}"
                                    th:text="${option}"
                                    th:selected="${option == default}"></option>
                        </select>
                    </div>
                    <div>
                        <label for="prikaz">Изберете податок за приказ</label>
                        <select id="prikaz" name="prikaz">
                            <option th:each="prikaz : ${prikazi}" th:value="${prikaz}"
                                    th:text="${prikaz}"
                                    th:selected="${prikaz == defaultPrikaz}"></option>
                        </select>
                    </div>
                    <div>
                        <label for="interval">Изберете интервал за прикажување</label>
                        <select id="interval" name="interval">
                            <option th:each="vreme : ${vreminja}" th:value="${vreme}"
                                    th:text="${vreme}"
                                    th:selected="${vreme == defaultVreme}"></option>
                        </select>
                    </div>
                    <input type='submit' value='Submit' class="button">
                </div>
            </form>
        </div>
    </aside>
    <aside class="right">
        <div class="graph-frame">
            <img id="generated-image" src="" alt="graph">
        </div>
    </aside>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('forma1').onsubmit = function (event) {
            event.preventDefault();
            var tiker = document.getElementById('tiker').value;
            var interval = document.getElementById('interval').value;
            var prikaz = document.getElementById('prikaz').value;
            console.log(tiker)

            document.getElementById('generated-image').src = "/get-flask-image/history?tiker=" + tiker.toString() + "&interval=" + interval.toString() + "&prikaz=" + prikaz.toString();
        };
    });
</script>
</body>
</html>