<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projections</title>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<header>
    <h1>Твојот Дигитален Советник</h1>
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/projections" class="round-border1">Проекции</a>
        <a href="/history">Историски Податоци</a>
    </div>
</header>
<h1>Идни проекции</h1>
<div class="main-container">
<aside class="forma">
    <div class="form-container">
    <form id="forma1" th:action="@{/projections}" method="post">
        <div class="oval1 width-full bg-gray2">Поставки</div>
        <div class="selection-panel">
            <div>
            <label for="tiker">Изберете тикер</label>
            <select id="tiker" name="tiker">
                <option th:each="option : ${options}" th:value="${option}"
                        th:text="${option}"
                        th:selected="${option == default}"></option>
            </select>
            </div>
            <div>
            <label for="prikaz">Изберете податок за приказ</label>
            <select id="prikaz" name="prikaz">
                <option value="tmp1">tmp1</option>
                <option value="tmp2">tmp2</option>
                <option value="tmp3">tmp3</option>
            </select>
            </div>
            <div>
            <label for="interval">Изберете интервал за прикажување</label>
            <select id="interval" name="interval">
                <option value="tmp1">tmp1</option>
                <option value="tmp2">tmp2</option>
                <option value="tmp3">tmp3</option>
            </select>
        </div>
        <input type='submit' value='Submit'>
        </div>
    </form>
    </div>
</aside>
<aside class="grafik">
    <iframe th:src="${imageID}"></iframe>
</aside>
</div>
</body>
</html>