<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<header>
    <h1>Твојот Дигитален Советник</h1>
    <div>
        <a href="/home">Home</a>
        <a href="/projections">Проекции</a>
        <a href="/history">Историски Податоци</a>
    </div>
</header>
<main>
    <div>
        <h2>Za nas</h2>
        <p>Bla bla</p>
    </div>
    <div>
        <h2>Shto nudime</h2>
        <p>Bla bla</p>
    </div>
    <div>
        <h2>Premiun</h2>
        <p> Bla bla</p>
    </div>
</main>
</body>
</html>