<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projections</title>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<header>
    <h1>Твојот Дигитален Советник</h1>
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/projections" class="round-border1">Проекции</a>
        <a href="/history">Историски Податоци</a>
    </div>
</header>
<h1>Идни проекции</h1>
<div class="main-container">
<aside class="left">
    <div class="form-container">
        <form id="forma1" action="/projections" method="get">
            <div class="oval1 width-full bg-gray2">Поставки</div>
            <div class="selection-panel">
                <div>
                <label for="tiker">Изберете тикер</label>
                <select id="tiker" name="tiker">
                    <option th:each="name : ${names}" th:value="${name}"
                            th:text="${name}"
                            th:selected="${name == defaultName}"></option>
                </select>
                </div>
                <div>
                <label for="interval">Изберете временски интервал (денови)</label>
                <select id="interval" name="interval">
                    <option th:each="interval : ${intervals}" th:value="${interval}"
                            th:text="${interval}"
                            th:selected="${interval == defaultInterval}"></option>
                </select>
            </div>
            <input type='submit' value='Submit' class="button">
            </div>
        </form>
    </div>
</aside>
<aside class="right">
    <div class="graph-frame">
        <img id="generated-image" src="" alt="Graph">
    </div>
</aside>
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('forma1').onsubmit = function (event) {
            event.preventDefault();
            var tiker = document.getElementById('tiker').value;
            var interval = document.getElementById('interval').value;
            console.log(tiker)
            document.getElementById('generated-image').alt='GENERATING IMAGE...'
            document.getElementById('generated-image').src = "/get-flask-image/projections?tiker=" + tiker.toString() + "&interval=" + interval.toString();
        };
    });
</script>
</html>