<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
<!--    <link rel="stylesheet" href="/css/home.css">-->
<!--    <link rel="stylesheet" href="../static/css/main.css">-->
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>
<header>
    <h1>Твојот Дигитален Берзански Советник</h1>
    <div class="navbar">
        <a href="/home" class="round-border1">Home</a>
        <a href="/projections">Проекции</a>
        <a href="/history">Историски Податоци</a>
    </div>
</header>
<main>
    <section>
        <div class="oval1">За нас</div>
        <p>Дигиталниот берзански советник е уникатен веб сервис кој им овозможува на корисниците да ги добијат сите потребни информации за сите издавачи кои котираат на македонската берза. </p>
    </section>
    <section>
        <div class="oval1">Што нудиме</div>
        <ol>
            <li>Бирање на одреден издавач на берзата</li>
            <li>Приказ на историски податоци во врска со издавачот</li>
            <li>Бирање на статистичка категорија од интерес</li>
            <li>Поставување на временскиот интервал на приказ</li>
            <li>Проектиран раст/пад на соодветната категорија во соодветно избраните временски интервали</li>
            <li>Ажурирање на податоците за издавач до денес**</li>
        </ol>
        **за корисници на бесплатниот план, оваа услуга е лимитирана на 3 издавачи во последните 48 часа

    </section>
    <section>
        <div class="oval1">Премиум</div>
        <p>Доколку сакате проширена листа на издавачи и најнови информации за секој од нив, претплатете се на нашата ПРЕМИУМ понуда!</p>
    </section>
</main>
</body>
</html>